# Specify filepatterns you want git to ignore.

Output
Listing/
Project/RVMDK（uv5）/EventRecorderStub.scvd
Project/RVMDK（uv5）/JLinkLog.txt
Project/RVMDK（uv5）/RT-Thread.uvguix.s
Project/RVMDK（uv5）/RT-Thread.uvoptx